
#page-mod-groupselect-view .mygroup,
#page-mod-groupselect-view .me {
  font-weight: bold;
}

#page-mod-groupselect-view .membershidden {
  color:#AAAAAA;
}

#page-mod-groupselect-view .maxlimitreached {
  color:#AAAAAA;
}
